h3 {
  color: #18272f;
  position: relative;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
}
h1,
h2 {
  font-family: "Kanit", sans-serif;
}

h3::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

h3:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  color: aliceblue;
}

/* Presentational Styles */
body {
  display: grid;
  font-family: "Poppins", sans-serif;
  font-size: 27px;
  font-weight: 700;
  height: 100vh;
  place-items: center;
}
p {
  font-family: "nunito", sans-serif;
}
i {
  font-family: "nunito", sans-serif;
}
.link {
  color: #18272f;
  position: relative;
  text-decoration: none;
}
.link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  color: aliceblue;
}
